* {
  box-sizing: border-box;
}
body {
  font-family: arial;
  color: #454545;
  background-color: #fcf7f5;
  min-height: 100%;
  margin: 0;
}
div {
  display: block;
}

/*all links*/
a,
a:link,
a:visited {
  color: #454545;
  text-decoration: none;
}
a:hover,
a:active {
  color: #f26b5d;
  text-decoration: none;
}
/*menu*/
/*menu*/
.menu {
  background-color: white;
  border-right: 1px solid #f26b5d;
  position: fixed;
  padding-top: 150px;
  top: 0%;
  left: 0%;
  bottom: 0%;
  width: 166px;
}
#menu-wrap {
  display: none;
}
#menu-wrap:target {
  display: block;
}

ul {
  list-style: none;
  font-size: 11pt;
  padding-left: 35px;
}
li {
  padding-top: 22px;
}
.navigation-left {
  background-color: white;
  border-right: 1px solid #f26b5d;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  width: 65px;
  display: flex;
}
.navigation-left-cross {
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  display: flex;
}

.button-menu,
.button-menu2 {
  width: 45px;
  padding-left: 15px;
  padding-top: 0px;
}
/*navigation-top*/
.navigation-top {
  position: fixed;
  border-bottom: 1px solid #f26b5d;
  left: 0%;
  top: 0%;
  right: 0%;
  display: flex;
  height: 50px;
  margin-left: 65px;
  padding-left: 60px;
  align-items: center;
  background-color: white;
  font-weight: bold;
  color: #454545;
  justify-content: flex-end;
}
.mila {
  text-decoration: none;
  color: #454545;
  font-size: 23pt;
  font-family: "Allison", cursive;
  display: flex;
  flex-direction: row;
  padding-right: 60px;
}
#contact {
  color: white;
  text-align: right;
  text-decoration: none;
  font-weight: bold;
  background-color: #f26b5d;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 16px 62px;
}
#contact:hover {
  opacity: 0.8;
}

/*main box*/

.box-left p {
  padding-left: 15%;
  padding-right: 0%;
}
.pink-text {
  color: #f26b5d;
}
.maintext-link,
.maintext-link:link,
.maintext-link:visited {
  font-weight: bold;
  text-decoration: underline;
}
.page {
  padding-left: 65px;
  overflow: hidden;
  height: 100%;
  padding-top: 50px;
  border-bottom: 1px solid #f26b5d;
}

/*top-left button*/

.top-left-button {
  color: white;
  background-color: #f26b5d;
  border-right: #f26b5d 1px solid;
  border-bottom: #f26b5d 1px solid;
  padding: 16px 74px;
  font-weight: bold;
  margin: 0;
  margin-left: 7%;
  width: 202px;
}
p {
  font-size: 11pt;
}
.horizontal-line {
  height: 1px;
  background: #f26b5d;
  margin-left: 7%;
}
.vertical-line {
  border-left: 1px solid #f26b5d;
  height: 1400px;
  margin-left: 7%;
  float: left;
}

.text-block {
  width: 460px;
  text-align: left;
  font-size: 10pt;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 80px;
  line-height: 25px;
  margin-bottom: 70px;
}
strong {
  font-size: 15pt;
  color: #f26b5d;
}
img {
  width: 300px;
}
.page-content {
  width: 75%;
}
.size-letters {
  font-size: 10pt;
}
.use_overflow {
  overflow: auto;
  border-top: 1px solid #f26b5d;
  border-right: 1px solid #f26b5d;
}
.use_overflow2 {
  overflow: auto;
  border-top: 1px solid #f26b5d;
  border-right: 1px solid #f26b5d;
  border-bottom: 1px solid #f26b5d;
}
.image1 {
  width: 28%;
  float: left;
  min-width: 150px;
  padding-right: 20px;
}
.image2 {
  width: 28%;
  float: right;
  min-width: 150px;
  padding-left: 20px;
}
.align_right {
  text-align: right;
  line-height: 20px;
  padding-left: 35%;
  padding-right: 3%;
}
.align_left {
  text-align: left;
  line-height: 20px;
  padding-right: 35%;
  padding-left: 3%;
}
@media screen and (width <= 1150px) {
  .vertical-line {
    height: 1000px;
  }
  .page-content {
    width: 90%;
  }
}
@media screen and (width <= 850px) {
  strong {
    font-size: 12pt;
    line-height: 18px;
  }
}
@media screen and (width <= 650px) {
  .top-left-button,
  .horizontal-line {
    margin-left: 0;
  }
  .vertical-line {
    display: none;
  }
  .text-block {
    width: 80%;
  }
  .page {
    margin-bottom: 80px;
    border-bottom: 0;
  }
  .page-content {
    width: 100%;
  }
}
@media screen and (width > 500px) {
  .button-menu2 {
    display: none;
  }
}
@media screen and (width <= 500px) {
  .navigation-left {
    display: none;
  }
  .page {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navigation-top {
    margin-left: 0;
  }
  .use_overflow,
  .use_overflow2 {
    border-left: 1px solid #f26b5d;
  }
  #contact {
    padding: 16px 17px;
    width: 100px;
    font-size: 10pt;
  }
  .top-left-button {
    padding: 16px 24px;
    width: 100px;
  }
  .horizontal-line {
    display: none;
  }
  .text-block {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .button-menu2 {
    width: 30px;
    padding: 0;
    margin-left: -48px;
  }
}
@media screen and (width > 500px) {
  .button-menu2 {
    display: none;
  }
}
@media screen and (width <= 500px) {
  .navigation-left {
    display: none;
  }
  .page {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navigation-top {
    margin-left: 0;
  }

  #contact {
    padding: 16px 17px;
    width: 100px;
    font-size: 10pt;
  }
  .top-left-button {
    padding: 16px 24px;
    width: 100px;
  }
  .horizontal-line {
    display: none;
  }
  .text-block {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .button-menu2 {
    width: 30px;
    padding: 0;
    margin-left: -48px;
  }
  h2 {
    font-size: 18pt;
  }
  .mila {
    margin-left: -35px;
    font-size: 14pt;
  }
  .size-letters {
    margin: 8px;
    margin-bottom: 14px;
  }
  strong {
    margin: 8px;
  }
}
