* {
  box-sizing: border-box;
}
body {
  font-family: arial;
  color: #454545;
  background-color: #fcf7f5;
  min-height: 100%;
  margin: 0;
}
div {
  display: block;
}

/*all links*/
a,
a:link,
a:visited {
  color: #454545;
  text-decoration: none;
}
a:hover,
a:active {
  color: #f26b5d;
  text-decoration: none;
}
/*menu*/
.menu {
  background-color: white;
  border-right: 1px solid #f26b5d;
  position: fixed;
  padding-top: 150px;
  top: 0%;
  left: 0%;
  bottom: 0%;
  width: 181px;
}
#menu-wrap {
  display: none;
}
#menu-wrap:target {
  display: block;
}

ul {
  list-style: none;
}
li {
  padding-top: 20px;
}
.navigation-left {
  background-color: white;
  border-right: 1px solid #f26b5d;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  width: 65px;
  display: flex;
}
.navigation-left-cross {
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  display: flex;
}

.button-menu {
  width: 45px;
  padding-left: 15px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
/*navigation-top*/
.navigation-top {
  position: fixed;
  border-bottom: 1px solid #f26b5d;
  left: 0%;
  top: 0%;
  right: 0%;
  display: flex;
  height: 50px;
  margin-left: 65px;
  padding-left: 60px;
  align-items: center;
  background-color: white;
  font-weight: bold;
  color: #454545;
  justify-content: space-between;
}
.mila {
  text-decoration: none;
  color: #454545;
  margin-right: 30px;
  font-size: 14pt;
  display: flex;
  flex-direction: row;
}
#contact {
  color: white;
  text-align: right;
  text-decoration: none;
  font-weight: bold;
  background-color: #f26b5d;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 16px 62px;
  width: 202px;
}
#contact:hover {
  opacity: 0.8;
}

/*main box*/

.pink-text {
  color: #f26b5d;
}
.page {
  padding-left: 65px;
  overflow: hidden;
  height: 100%;
  padding-top: 50px;
  border-bottom: 1px solid #f26b5d;
}

/*top-left button*/

.top-left-button {
  color: white;
  background-color: #f26b5d;
  border-right: #f26b5d 1px solid;
  border-bottom: #f26b5d 1px solid;
  padding: 16px 48px;
  font-weight: bold;
  margin: 0;
  margin-left: 100px;
  width: 202px;
}

.horizontal-line {
  height: 1px;
  background: #f26b5d;
  margin-left: 100px;
}
.vertical-line {
  border-left: 1px solid #f26b5d;
  height: 2000px;
  margin-left: 100px;
  float: left;
}

.text-block {
  width: 300px;
  text-align: center;
  font-size: 10pt;
  margin-left: 41%;
  margin-top: 80px;
}
.images-style {
  margin-left: 10%;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 70%;
}
