* {
  box-sizing: border-box;
}
body {
  font-family: arial;
  color: #454545;
  background-color: #fcf7f5;
  min-height: 100%;
  margin: 0;
}
div {
  display: block;
}

/*all links*/
a,
a:link,
a:visited {
  color: #454545;
  text-decoration: none;
}
a:hover,
a:active {
  color: #f26b5d;
  text-decoration: none;
}
/*menu*/
.menu {
  background-color: white;
  border-right: 1px solid #f26b5d;
  position: fixed;
  padding-top: 150px;
  top: 0%;
  left: 0%;
  bottom: 0%;
  width: 166px;
}
#menu-wrap {
  display: none;
}
#menu-wrap:target {
  display: block;
  z-index: 100;
}

ul {
  list-style: none;
  font-size: 11pt;
  padding-left: 35px;
}
li {
  padding-top: 22px;
}
.navigation-left {
  background-color: white;
  border-right: 1px solid #f26b5d;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  width: 65px;
  display: flex;
}
.navigation-left-cross {
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  display: flex;
}

.button-menu {
  width: 45px;
  padding-left: 15px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
/*navigation-top*/
.navigation-top {
  position: fixed;
  border-bottom: 1px solid #f26b5d;
  left: 0%;
  top: 0%;
  right: 0%;
  display: flex;
  height: 50px;
  margin-left: 65px;
  padding-left: 60px;
  align-items: center;
  background-color: white;
  font-weight: bold;
  color: #454545;
  justify-content: space-between;
  z-index: 100;
}
#mila {
  text-decoration: none;
  color: #454545;
  margin-left: 6.5%;
  font-size: 14pt;
}
#contact {
  color: white;
  text-align: right;
  text-decoration: none;
  font-weight: bold;
  background-color: #f26b5d;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 16px 62px;
  width: 202px;
}
#contact:hover {
  opacity: 0.8;
}

/*main box*/

.pink-text {
  color: #f26b5d;
}
.page {
  padding-left: 65px;
  overflow: hidden;
  height: 100%;
  padding-top: 50px;
  border-bottom: 1px solid #f26b5d;
}

/*top-left button*/

.pink-button:link,
.pink-button:hover,
.pink-button:visited,
.pink-button:active {
  color: white;
  background-color: #f26b5d;
  border-right: #f26b5d 1px solid;
  border-bottom: #f26b5d 1px solid;
  padding: 16px 45px;
  font-weight: bold;
  margin-left: 7%;
  width: 202px;
}
.pink-button:hover {
  opacity: 0.8;
}

.horizontal-line {
  height: 1px;
  background: #f26b5d;
  margin-left: 7%;
}
.vertical-line {
  border-left: 1px solid #f26b5d;
  height: 3900px;
  margin-left: 7%;
  float: left;
}

.text-block {
  text-align: center;
  font-size: 10pt;
  margin-top: 80px;
  line-height: 12px;
  margin-bottom: 80px;
}
.text-block p {
  line-height: 12px;
}
.images {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.images-style {
  padding-bottom: 100px;
  width: 530px;
  flex-direction: column;
  z-index: 30;
}
.images-wide {
  padding-bottom: 100px;
  width: 880px;
  flex-direction: column;
  z-index: 30;
}

@media screen and (width <= 750px) {
  .images-style {
    width: 78%;
  }
}
@media screen and (width <= 1200px) {
  .images-wide {
    width: 78%;
  }
  .vertical-line {
    display: none;
  }
  .pink-button:link,
  .pink-button:hover,
  .pink-button:visited,
  .pink-button:active,
  .horizontal-line {
    margin-left: 0;
  }
}
